.fn-stats{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 12px; 
    flex-wrap: wrap; 
}
.fn-stats .stat-info{
    width:calc(25% - 9px);
}

@media (max-width: 992px) {
    .fn-stats .stat-info{
        width:calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .fn-stats .stat-info{
        width: 100%;
    }
}
.fn-features{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 12px; 
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.fn-features .fn-box{
    width:calc(25% - 9px);
}

@media (max-width: 992px) {
    .fn-features .fn-box{
        width:calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .fn-features .fn-box{
        width: 100%;
    }
}

.wr-quote{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap;
}
.wr-quote .work-info{
    width:calc(33.33% - 20px);
}
@media (max-width: 992px) {
    .wr-quote .work-info{
        width:calc(50% - 10px);
    }
}
@media (max-width: 576px) {
    .wr-quote .work-info{
        width: 100%;
    }
}
.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.watch{
    color: var(--orange-color);
    text-align: left;
}
.collection-images-01{
    display: flex;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 20px;
    gap: 15px; 
}

.collection-images-02{
    display: flex;
    margin-top: 3px;
    margin-left: 15px;
    margin-right: 20px;
    gap: 15px;
}
.img-01{
    display: flex;
    width: 370px;
    padding: 4px;
    height: 380px;
}
.img-02{
    display: flex;
    width: 370px;
    padding: 4px;
    height: 380px;
}
.img-03{
    display: flex;
    width: 580px;
    padding: 4px;
    height: 380px;
}
.img-04{
    display: flex;
    width: 630px;
    padding: 3px;
    height: 380px;
}
.img-05{
    display: flex;
    width: 370px;
    padding: 3px;
    height: 380px;
}
.img-06{
    display: flex;
    width: 270px;
    padding: 3px;
    height: 380px;
}

