/* Font used in the website imported */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables colors and fonts used in CSS for common */
/* Design System */
:root {
    --main-font: 'Poppins', sans-serif;
    --heading-dark: rgb(5, 44, 67);
    --navbar-bg: rgb(28, 91, 123);
    --blue-light: rgb(139, 209, 244);
    --blue-semi-dark: rgb(171, 214, 235);
    --blue-links: rgb(109, 183, 221);
    --tagline-color: rgb(0,0,0,0.3);
    --orange-color: rgb(238, 90, 27);
    --std-gap: 120px;
    --std-side-gap: 100px;
    --blue: rgb(38, 122, 164);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.fn-section-headings{
    font-family: var(--main-font);
    font-size: 38px;
    margin-bottom: 16px;
    color: var(--heading-dark);
    text-align: center;
}
.fn-section-tagline{
    margin-top: 20px;
    font-family: var(--main-font);
    font-size: 13px;
    margin-bottom: 16px;
    color: var(--tagline-color);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section{
    padding: var(--std-gap);
    padding: var(--std-side-gap);
    background-color: var(--blue-light);
}
.wr-container{
    max-width: 1200px;
    margin: auto;
}
.wr-section-headings{
    font-family: var(--main-font);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: var(--heading-dark);
    text-align: center;
}
.wr-section-tagline{
    margin-top: 20px;
    font-family: var(--main-font);
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--tagline-color);
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px;
}

.button{
    font-family: var(--main-font);
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 16px;
}
.learn{
    background-color: var(--orange-color);
    color: white;
}
.touch{
    background-color: var(--blue-links);
    color: white;
}

.statistics{
    background-color: var(--blue-semi-dark);
    padding: var(--std-gap) var(--std-side-gap);
}
.flow{
    background-color:rgb(242, 242, 242);
    padding: var(--std-gap) var(--std-side-gap);
}
.customers{
    background-color:rgb(242, 242, 242);
    padding: var(--std-gap) var(--std-side-gap);
}
.semi{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--orange-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
.text{
    font-family: var(--main-font);
    font-size: 15px;
    color: var(--heading-dark);
    justify-content: center;
    align-items: center;
    display: flex;
}

.image{
    height: 75px;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
    margin: auto;
}
.fn-box{
    background-color: rgb(246, 225, 225);
    width: 200px;
    height: 340px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
    
}
.fn-box .wr-section-headings,.fn-box .wr-section-tagline{
    text-align: left;
}
.fn-box .wr-section-headings{
    font-size: 25px;
}
.fn-box .wr-section-tagline{
    font-size: 18px;
}
.bg-semi{
    width: 70px;
    height: 190px;
    background-color: var(--orange-color);
    border-radius: 50%;
    display: flex;
}
.icon{
    display: flex;
    margin: auto;
    width: 40%;
    height: 40px;
    justify-content: center;
}

.b1{
    background-color: rgb(242, 200, 228);
}
.b2{
    background-color: rgb(205, 250, 205);
}
.b3{
    background-color: rgb(247, 247, 121);
}
.b4{
    background-color: rgb(254, 236, 210);
}
 
.s1{
    background-color: rgb(233, 101, 123);
}
.s2{
    background-color: rgb(0, 190, 0);
}
.s3{
    background-color: rgb(244, 228, 51);
}
.s4{
    background-color: rgb(216, 97, 0);
}

.home-page{
    display:flex;
    position: relative;
}
.h-image{
    display: flex;
    width: 50%;
    height: 876px;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
.home-left{
    background-color: var(--blue-semi-dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 876px;
    width: 50%;
}
.home-text{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 200px;
    padding: 20px 12px;
}

.home-text .home-heading-01, .home-text .home-heading-02 {
    text-align: left;
    font-size: 45px;
}
.home-heading-02{
    font-weight: bold;
}
.home-tagline{
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
}
.discover{
    background-color: white;
    color: var(--blue);
    padding: 12px;
    margin-right: 500px;
    box-shadow: 0px 0px 20px;
}

/* .animate-on-load{
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
}
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; } */

.video-section-img{
    width: 100%;
    height: auto;
    transform-origin: 50% 50%;
    background-repeat: no-repeat;
    background-size: center;
    background-position: cover;
}

.fn-video{
    display: flex;
}
.video-text{
    transform: translateX(-113%);
    margin-top: 150px;
}
.video-tagline, .video-head{
    text-align: left;
    text-transform: none;
    font-size: 14px;
}
.video-head{
    text-transform: uppercase;
}
.video-tagline{
    margin-top: 30px;
    font-weight: 530;
    letter-spacing: 1px;
}
.video-heading-02{
    text-align: left;
    font-size: 35px;
    font-weight: 500;
}
.video-button{
    display: flex;
    text-align: left;
    text-transform: capitalize;
    color: var(--orange-color);
    font-size: 18px;
    margin-top: 20px;
    margin-right: 450px;
}
.video-button p{
    display: flex;
    gap: 10px;
}


/* FOOTER */
.footer .foot{
    background-color: #D4EAF5;
}
.footer .base{
    background-color: #ABD6EB;
} 
.foot-img{
    position: relative;
    top: 4px; 
    display: flex;
    gap: 10px;
}
.foot-img img{
    height: 30px;
    width: 30px;
}
.base{
    font-family: var(--main-font);
    font-size: 13px;
    color: var(--tagline-color);
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #ABD6EB;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    padding: 40px;
}
.foot-container{
    display: flex;
    align-items: center;
    margin: auto;
}
.foot{
    height: 55vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 90px;
    background-color: aquamarine;
}
.foot-headings{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;

}
.posts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p1 img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 5px;
}
.p2 img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 5px;
}
.post {
  display: flex;
  gap: 20px;
}

.post-img {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  flex-shrink: 0;
}

.item {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  margin-left: 2px;
}

.item::before {
  margin-right: 2px;
  font-size: 12px;
  color: transparent;
  text-shadow: 0 0 0 var(--blue-links);
}

.head {
  display: flex;
}

.p1 {
  background-image: url("/Images/image_1.webp");
}

.p2 {
  background-image: url("/Images/image_2.webp");
}

.post-text .cards-heading {
  font-size: 17px;
  font-family: var(--main-font);
}

/* NAVBAR */
.navbar{
    z-index: 5;
    width: 100%;
    background-color: var(--blue-light);
    display: flex;
    padding: 0px 5%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-right: 100px;
}
.nav-item{
    color: var(--heading-dark);
}
.nav-item:hover {
  color: white; 
  cursor: pointer;
}

.home-title{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-left: var(--std-side-gap);
    margin: 0;
}

.cust-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 40px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.wr-author-tagline {
    font-family: var(--main-font);
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 16px;
    color: var(--tagline-color);
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(91, 89, 89);
    
}
.auth-text .wr-section-headings{
    text-align:center;
}


/* Spacing for first tagline (paragraph text) */
.card .wr-section-tagline:first-child {
  margin-bottom: 25px;
}

/* Name */
/* .wr-section-headings {
  font-size: 18px;
  font-weight: 600;
  color: #d57a00;
  margin-bottom: 5px;
  text-align: center;
} */
.card:nth-child(2) {
  background-color: #d57a00;
  animation: slide1 12s infinite;
}
.card:nth-child(1) {
  background-color: #ffffff;
  animation: slide1 12s infinite;
}
.card:nth-child(3) {
  background-color: #ffffff;
  animation: slide1 12s infinite;
}

@keyframes slide1{
    0%, 33% {
        order: 1;
    }
    34%, 66% {
        order: 3;
    }
    67%, 100% {
        order:  2;
    }
}

@keyframes slide2{
    0%, 33% {
        order: 2;
    }
    34%, 66% {
        order: 1;
    }
    67%, 100% {
        order:  3;
    }
}

@keyframes slide3{
    0%, 33% {
        order: 3;
    }
    34%, 66% {
        order: 2;
    }
    67%, 100% {
        order: 1;
    }
}

/* Text color inside highlighted card */
.card:nth-child(2) .wr-section-tagline,
.card:nth-child(2) .wr-section-headings {
  color: #ffffff;
}
.card{
    width: 360px;
    padding: 12px;
    height: 270px;
    transition: all 0.8s ease-in-out;
    justify-content: center;
    background-color: #ffffff;
}


.img-auth{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.post-img{
    width: 70px;
    height: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.auth-text{
    text-align: center;
    padding: 6px;
    transform: translateY(-85%); 
}

/* BLOG */

.blogs {
  padding: 128px 0px;
}

.blog {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px 165px;
}

.single-blog {
  display: flex;
  width: 50%;
  background-color: var(--light-orange);
}

.blog-bg {
  width: 50%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.blog-text h3 {
  font-size: 20px;
  font-weight: 500;
}

.blog-text p {
  text-align: initial;
}

.blogs h2 {
  margin-bottom: 50px;
}

.bg1 {
  background-image: url("/Images/image_1.webp");
}

.bg2 {
  background-image: url("/Images/image_2.webp");
}

.bg3 {
  background-image: url("/Images/image_3.webp");
}

.bg4 {
  background-image: url("/Images/image_4.webp");
}

.blog-text {
  width: 50%;
  font-family: var(--main-font);
  padding: 30px;
}

.meta-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--main-font);
  margin-bottom: 5px;
}

.meta-item {
  color: var(--tagline-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
}

.highlight {
  color: var(--orange);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.meta-item::before {
  margin-right: 8px;
  font-size: 16px;
  color: transparent;
  text-shadow: 0 0 0 #c68c1d;
}

.admin-icon::before {
  content: "\1F464";
}

.calendar-icon::before {
  content: "\1F4C5";
  font-size: 14px;
}

.comment-icon::before {
  content: "\1F5E8";
  font-size: 15px;
  margin-top: -2px;
}



